---
import Layout from '../layouts/Layout.astro';
import BgDots from '../resources/bookmark-landing-page-master/images/BgDots.astro';
import Chrome from '../resources/bookmark-landing-page-master/images/Chrome.astro';
import Facebook from '../resources/bookmark-landing-page-master/images/Facebook.astro';
import Firefox from '../resources/bookmark-landing-page-master/images/Firefox.astro';
import Hamburger from '../resources/bookmark-landing-page-master/images/Hamburger.astro';
import ImgHero from '../resources/bookmark-landing-page-master/images/ImgHero.astro';
import ImgTab1 from '../resources/bookmark-landing-page-master/images/ImgTab1.astro';
import Logo from '../resources/bookmark-landing-page-master/images/Logo.astro';
import Opera from '../resources/bookmark-landing-page-master/images/Opera.astro';
import Twitter from '../resources/bookmark-landing-page-master/images/Twitter.astro';
---

<Layout title='Bookmark Landing Page'>
  <nav class='flex max-w-6xl items-center justify-between px-4 py-4 sm:p-8'>
    <button>
      <Logo />
    </button>

    <ul class='hidden gap-8 text-sm sm:flex'>
      <li class='py-2'>FEATURES</li>
      <li class='py-2'>PRICING</li>
      <li class='py-2'>CONTACT</li>
      <li class='rounded-md bg-red-400 px-5 py-2 font-semibold text-white shadow-sm'>LOGIN</li>
    </ul>

    <button class='sm:hidden'>
      <Hamburger />
    </button>
  </nav>

  <main>
    <section>
      <ImgHero />
      <article>
        <h1>A Simple Bookmark Manager</h1>
        <p>
          A clean and simple interface to organize your favourite websites. Open a new browser tab
          and see your sites load instantly. Try it for free.
        </p>
        <div>
          <button>Get it on Chrome</button>
          <button>Get it on Firefox</button>
        </div>
      </article>
    </section>

    <section>
      <article>
        <h2>Features</h2>
        <p>
          Our aim is to make it quick and easy for you to access your favourite websites. Your
          bookmarks sync between your devices so you can access them on the go.
        </p>
        <ul>
          <li><button>Simple Bookmarking</button></li>
          <li><button>Speedy Searching</button></li>
          <li><button>Easy Sharing</button></li>
        </ul>
      </article>

      <article>
        <ImgTab1 />
        <div>
          <h3>Bookmark in one click</h3>
          <p>
            Organize your bookmarks however you like. Our simple drag-and-drop interface gives you
            complete control over how you manage your favourite sites.
          </p>
        </div>
      </article>
    </section>

    <section>
      <h2>Download the extension</h2>
      <p>
        We’ve got more browsers in the pipeline. Please do let us know if you’ve got a favourite
        you’d like us to prioritize.
      </p>

      <div>
        <div>
          <Chrome />
          <h3>Add to Chrome</h3>
          <p>Minimum version 62</p>
          <BgDots />
          <button>Add & Install Extension</button>
        </div>

        <div>
          <Firefox />
          <h3>Add to Firefox</h3>
          <p>Minimum version 55</p>
          <BgDots />
          <button>Add & Install Extension</button>
        </div>

        <div>
          <Opera />
          <h3>Add to Opera</h3>
          <p>Minimum version 46</p>
          <BgDots />
          <button>Add & Install Extension</button>
        </div>
      </div>
    </section>

    <section>
      <h2>Frequently Asked Question</h2>
      <p>
        Here are some of our FAQs. If you have any other questions you’d like answered please feel
        free to email us.
      </p>

      <div>
        <button class='accordion'>What is Bookmark?</button>
        <div class='panel'>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt justo eget
            ultricies fringilla. Phasellus blandit ipsum quis quam ornare mattis.
          </p>
        </div>

        <button class='accordion'>How can I request a new browser?</button>
        <div class='panel'>
          <p>
            Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non
            ligula. Suspendisse imperdiet. Vivamus luctus eros aliquet convallis ultricies. Mauris
            augue massa, ultricies non ligula. Suspendisse imperdie tVivamus luctus eros aliquet
            convallis ultricies. Mauris augue massa, ultricies non ligula. Suspendisse imperdiet.
          </p>
        </div>

        <button class='accordion'>Is there a mobile app?</button>
        <div class='panel'>
          <p>
            Sed consectetur quam id neque fermentum accumsan. Praesent luctus vestibulum dolor, ut
            condimentum urna vulputate eget. Cras in ligula quis est pharetra mattis sit amet
            pharetra purus. Sed sollicitudin ex et ultricies bibendum.
          </p>
        </div>

        <button class='accordion'>What about other Chromium browsers?</button>
        <div class='panel'>
          <p>
            Integer condimentum ipsum id imperdiet finibus. Vivamus in placerat mi, at euismod dui.
            Aliquam vitae neque eget nisl gravida pellentesque non ut velit.
          </p>
        </div>
      </div>

      <button>More Info</button>
    </section>
  </main>

  <footer>
    <div>
      <p>35,000+ already joined</p>
      <h2>Stay up-to-date with waht we're doing</h2>

      <div>
        <input
          type='text'
          placeholder='Enter your email address'
        />
        <button>Contact Us</button>
      </div>
    </div>

    <div>
      <ul>
        <li><Logo /></li>
        <li>FEATURES</li>
        <li>PRICING</li>
        <li>CONTACT</li>
      </ul>

      <ul>
        <li><Facebook /></li>
        <li><Twitter /></li>
      </ul>
    </div>
  </footer>
</Layout>

<style>
  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active,
  .accordion:hover {
    background-color: #ccc;
  }

  /* Style the accordion panel. Note: hidden by default */

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: '\2796'; /* Unicode character for "minus" sign (-) */
  }
</style>

<script>
  const accordion: HTMLCollection = document.getElementsByClassName('accordion');

  [...accordion].forEach((question) => {
    question.addEventListener('click', () => {
      question.classList.toggle('active');
      let panel = question.nextElementSibling as HTMLElement;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = '';
      } else {
        panel.style.maxHeight = panel.scrollHeight + 'px';
      }
    });
  });
</script>
