<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Frontend Mentor</title>
  </head>
  <body>
    <main>
      <h1 class='font-bold text-3xl'>Frontend Mentor Challanges</h1>
    </main>
  </body>
</html>
