---
import Layout from '../layouts/Layout.astro';
---

<Layout title='News Homepage'>
  <div class='px-3 pb-12'>
    <div class='py-6 text-center'>Navigation</div>

    <main class='grid min-w-[320px] text-sm text-slate-500 sm:grid-cols-3 sm:gap-6'>
      <picture class='sm:col-span-2'>
        <source
          media='(min-width: 640px)'
          srcset='/news-homepage/image-web-3-desktop.jpg'
        />
        <img
          alt=''
          aria-hidden='true'
          src='/news-homepage/image-web-3-mobile.jpg'
        />
      </picture>

      <h1 class='py-4 text-4xl font-extrabold text-black'>The Bright Future of Web 3.0?</h1>

      <section>
        <p class='pb-4'>
          We dive into the next evolution of the web that claims to put the power of the platforms
          back into the hands of the people. But is it really fulfilling its promise?
        </p>

        <button class='bg-red-500 px-8 py-2 font-semibold tracking-widest text-white'
          >READ MORE</button
        >
      </section>

      <aside class='my-10 bg-zinc-900 px-4 text-white sm:col-start-3 sm:row-span-2 sm:row-start-1'>
        <h2 class='pt-5 text-2xl font-bold text-yellow-600'>New</h2>

        <ul>
          <li class='border-b border-zinc-400 py-5'>
            <h3 class='mb-1 text-base font-bold'>Hydrogen VS Electric Cars</h3>
            <p class='text-zinc-400'>Will hydrogen-fueled cars ever catch up to EVs?</p>
          </li>

          <li class='border-b border-zinc-400 py-5'>
            <h3 class='mb-1 text-base font-bold'>The Downsides of AI Artistry</h3>
            <p class='text-zinc-400'>
              What are the possible adverse effects of on-demand AI image generation?
            </p>
          </li>

          <li class='py-5'>
            <h3 class='mb-1 text-base font-bold'>Is VC Funding Drying Up?</h3>
            <p class='text-zinc-400'>
              Private funding by VC firms is down 50% YOY. We take a look at what that means.
            </p>
          </li>
        </ul>
      </aside>

      <article class='mb-7 flex gap-4'>
        <img
          src='/news-homepage/image-retro-pcs.jpg'
          alt='retro PC'
          width='30%'
          class='object-cover'
        />
        <div class='flex flex-col justify-center gap-3 py-1'>
          <h2 class='text-3xl font-bold text-zinc-400'>01</h2>
          <h3 class='text-base font-bold text-black'>Reviving Retro PCs</h3>
          <p>What happens when old PCs are given modern upgrades?</p>
        </div>
      </article>

      <article class='mb-7 flex gap-4'>
        <img
          src='/news-homepage/image-top-laptops.jpg'
          alt='laptop keyboard'
          width='30%'
          class='object-cover'
        />
        <div class='flex flex-col justify-center gap-3 py-1'>
          <h2 class='text-3xl font-bold text-zinc-400'>02</h2>
          <h3 class='text-base font-bold text-black'>Top 10 Laptops of 2022</h3>
          <p>Our best picks for various needs and budgets.</p>
        </div>
      </article>

      <article class='flex gap-4'>
        <img
          src='/news-homepage/image-gaming-growth.jpg'
          alt='gaming controler'
          width='30%'
          class='object-cover'
        />
        <div class='flex flex-col justify-center gap-3 py-1'>
          <h2 class='text-3xl font-bold text-zinc-400'>03</h2>
          <h3 class='text-base font-bold text-black'>The Growth of Gaming</h3>
          <p>How the pandemic has sparked fresh opportunities.</p>
        </div>
      </article>
    </main>
  </div>
</Layout>
