---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Tip Calculator App '>
  <main class='flex min-h-screen flex-col items-center justify-center gap-8 bg-teal-100 sm:gap-16'>
    <h1 class='text-3xl font-bold tracking-widest text-teal-700'>
      SPLI <span class='block'>TTER</span>
    </h1>

    <section
      class='grid max-w-4xl gap-8 rounded-xl bg-white px-6 py-8 sm:grid-cols-2 sm:gap-10 sm:py-10 sm:px-10'
    >
      <div>
        <label
          for='bill'
          class='font-bold text-neutral-400'
          >Bill</label
        >
        <div>
          <input
            id='bill'
            type='number'
            placeholder='0'
            class='mt-2 mb-6 w-full rounded-md bg-neutral-200 px-3 py-2 text-right font-bold text-teal-800'
          />
        </div>

        <div class='pb-6'>
          <p class='pb-4 font-bold text-neutral-400'>Select Tip %</p>

          <ul class='grid grid-cols-2 gap-4 sm:grid-cols-3 sm:gap-3'>
            <li>
              <button
                class='w-full rounded-lg bg-teal-800 py-3 text-2xl font-bold text-white sm:py-2 sm:text-xl'
                >5%</button
              >
            </li>
            <li>
              <button
                class='w-full rounded-lg bg-teal-800 py-3 text-2xl font-bold text-white sm:py-2 sm:text-xl'
                >10%</button
              >
            </li>
            <li>
              <button
                class='w-full rounded-lg bg-teal-800 py-3 text-2xl font-bold text-white sm:py-2 sm:text-xl'
                >15%</button
              >
            </li>
            <li>
              <button
                class='w-full rounded-lg bg-teal-800 py-3 text-2xl font-bold text-white sm:py-2 sm:text-xl'
                >25%</button
              >
            </li>
            <li>
              <button
                class='w-full rounded-lg bg-teal-800 py-3 text-2xl font-bold text-white sm:py-2 sm:text-xl'
                >50%</button
              >
            </li>
            <li>
              <input
                type='text'
                placeholder='Custom'
                class='w-full rounded-lg bg-neutral-200 py-3 text-center text-2xl font-bold text-teal-800 sm:py-2 sm:text-xl'
              />
            </li>
          </ul>
        </div>

        <label
          for='number-of-people'
          class='font-bold text-neutral-400'
          >Number of People</label
        >
        <input
          id='number-of-people'
          type='number'
          placeholder='0'
          class='mt-2 w-full rounded-md bg-neutral-200 px-3 py-2 text-right font-bold text-teal-800'
        />
      </div>

      <div
        class='flex flex-col justify-between rounded-xl bg-teal-800 px-5 py-8 font-bold text-white'
      >
        <div>
          <div class='flex justify-between pb-8'>
            <p>Tip Amount <span class='block text-sm text-neutral-300'>/ person</span></p>

            <p class='text-3xl text-teal-400'>$15.00</p>
          </div>

          <div class='flex justify-between pb-8'>
            <p>Total <span class='block text-sm text-neutral-300'>/ person</span></p>

            <p class='text-3xl text-teal-400'>$0</p>
          </div>
        </div>

        <button class='h-16 rounded-md bg-teal-500 text-xl text-teal-800'>RESET</button>
      </div>
    </section>
  </main>
</Layout>
