---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body>
    <div
      id='slide-menu'
      class='fixed top-28 z-50 -translate-x-full transition-transform duration-300'
    >
      <ul
        id='navigation'
        class='top-full flex max-h-[calc(100vh-120px)] w-60 flex-col gap-2 overflow-y-auto rounded-br-md bg-slate-900 p-2 text-white transition-transform duration-300'
      >
        <li class='flex'>
          <a
            class='transition-color h-full w-full rounded-md bg-slate-800 py-2 px-4 text-sm font-bold hover:bg-sky-800'
            href='/'
            >Home</a
          >
        </li>
      </ul>

      <button
        aria-label='open projects list'
        id='hamburger'
        class='absolute top-0 -right-14 flex h-14 w-14 items-center justify-center rounded-r-md bg-slate-900'
      >
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          class='rotate-180 fill-white'
          ><path d='M3 12l18-12v24z'></path></svg
        >
      </button>
    </div>

    <slot />
  </body>
</html>

<script>
  import { PROJECTS } from '../Projects';

  const button = document.getElementById('hamburger');
  const slideMenu = document.getElementById('slide-menu');
  const navigation = document.getElementById('navigation');

  button?.addEventListener('click', () => {
    slideMenu?.classList.toggle('isMenuActive');
  });

  (function () {
    PROJECTS.forEach(({ title, projectUrl }, idx) => {
      const newLink = document.createElement('li');
      newLink.innerHTML = `
				<li class='flex'>
          <a
						class='h-full w-full rounded-md bg-slate-800 py-2 px-4 text-sm font-bold hover:bg-sky-800 transition-color'
            href='${projectUrl}'
            >${title}</a
          >
        </li>
			`;

      navigation?.appendChild(newLink);
    });
  })();
</script>

<style>
  .isMenuActive {
    transform: translateX(0);
  }
</style>
