---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body>
    <nav
      id='slide-menu'
      class='fixed top-28 -translate-x-full transition-transform duration-300'
    >
      <ul
        class='top-full flex w-60 flex-col gap-2 bg-black px-4 pt-4 pb-8 text-white transition-transform duration-300'
      >
        <li>
          <a
            href='/'
            class='underline'
            >Home</a
          >
        </li>
        <li>
          <a
            href='/ecommerce-product-page'
            class='underline'
            >E-commerce product page</a
          >
        </li>
      </ul>

      <button
        id='hamburger'
        class='absolute top-0 -right-14 flex h-14 w-14 items-center justify-center bg-black'
      >
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='24'
          height='24'
          viewBox='0 0 24 24'
          class='rotate-180 fill-white'
          ><path d='M3 12l18-12v24z'></path></svg
        >
      </button>
    </nav>

    <slot />
  </body>
</html>

<script>
  const button = document.getElementById('hamburger');
  const slideMenu = document.getElementById('slide-menu');

  button?.addEventListener('click', () => {
    slideMenu?.classList.toggle('isMenuActive');
  });
</script>

<style>
  .isMenuActive {
    transform: translateX(0);
  }
</style>
